.blinking {
  -webkit-animation: blinking 0.5s infinite;
  /* Safari 4+ */
  -moz-animation: blinking 0.5s infinite;
  /* Fx 5+ */
  -o-animation: blinking 0.5s infinite;
  /* Opera 12+ */
  animation: blinking 0.5s infinite;
  /* IE 10+, Fx 29+ */ }

@-webkit-keyframes blinking {
  0%, 30% {
    background-color: #efef00; }
  70%, 100% {
    background-color: black; } }

.cart-popover {
  position: relative; }
  .cart-popover .cart-counter {
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    bottom: 22px;
    left: 16px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px; }

#quickcart {
  z-index: 1031;
  position: relative;
  background: white;
  padding-top: 30px;
  color: black; }
  #quickcart ::-moz-selection {
    background: #131313;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  #quickcart ::selection {
    background: #131313;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  #quickcart button.close {
    float: right; }
  #quickcart img {
    vertical-align: top;
    float: left;
    margin-right: 10px; }
  #quickcart .item-details {
    float: left; }
  #quickcart .availability {
    color: #999; }
  #quickcart #cart {
    padding-bottom: 20px; }
    #quickcart #cart button {
      margin-bottom: 10px; }
  #quickcart .empty-cart {
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding-bottom: 1px; }
  #quickcart .cart-item-link {
    color: black; }

ul.blog-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.blog-list li {
    margin-bottom: 30px; }
    ul.blog-list li .img-crop {
      display: block;
      width: 100%;
      height: 150px;
      overflow: hidden;
      margin-bottom: 10px; }
    ul.blog-list li .img-crop img {
      margin: -10px 0 0 0; }
    ul.blog-list li a.title {
      margin: 10px 0;
      display: block; }
  ul.blog-list img {
    max-width: 100%; }

.account-popover {
  position: relative; }

#account {
  z-index: 1031;
  position: relative;
  background: white;
  padding-top: 30px;
  color: black; }
  #account ::-moz-selection {
    background: #131313;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  #account ::selection {
    background: #131313;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  #account #account-spinner {
    padding: 100px 0; }
  #account button.close {
    float: right; }
  #account .container {
    padding-bottom: 20px; }
    #account .container .nav {
      margin: 20px 0; }

/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

/* --------------- */
/* xZoom Styles below */
.xzoom-container {
  display: inline-block; }

.xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px; }

.xzoom {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }

.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border: 1px solid #cecece;
  margin-left: 5px;
  margin-bottom: 10px; }

.xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  float: none;
  clear: both; }

/* Everything out of border is hidden */
.xzoom-hidden {
  overflow: hidden; }

/* Preview */
.xzoom-preview {
  border: 1px solid #888;
  background: #2f4f4f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

/* Lens */
.xzoom-lens {
  border: 1px solid #555;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: crosshair; }

/* Loading */
.xzoom-loading {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../images/xloading.gif);
  width: 48px;
  height: 48px; }

/* Additional class that applied to thumb when it is active */
.xactive {
  -webkit-box-shadow: 0px 0px 3px 0px #4aa9d2;
  -moz-box-shadow: 0px 0px 3px 0px #4aa9d2;
  box-shadow: 0px 0px 3px 0px #4aa9d2;
  border: 1px solid #4aaad2; }

/* Caption */
.xzoom-caption {
  position: absolute;
  bottom: -43px;
  left: 0;
  background: #000;
  width: 100%;
  text-align: left; }

.xzoom-caption span {
  color: #fff;
  font-family: Arial, sans-serif;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  padding: 10px; }

body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black; }

html {
  width: 100%;
  height: 100%; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0 0 35px; } }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3; }
  a:focus, a:hover {
    text-decoration: none;
    color: #1d9b6c; }

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black; }
  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    border: 1px solid white; }
  #mainNav .navbar-brand {
    font-weight: 700; }
  #mainNav a {
    color: white; }
  #mainNav .navbarbuttons {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0; }
  #mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    #mainNav .navbar-nav .nav-item:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent; }
    #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
      outline: none;
      background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      letter-spacing: 1px;
      border-bottom: none;
      background: transparent; }
      #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: black; }
      #mainNav .nav-link.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3); }
        #mainNav .nav-link.active:hover {
          color: white; } }

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .masthead .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .masthead .intro-body .brand-heading {
      font-size: 50px; }
    .masthead .intro-body .intro-text {
      font-size: 18px; }
  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      padding: 0; }
      .masthead .intro-body .brand-heading {
        font-size: 60px; }
      .masthead .intro-body .intro-text {
        font-size: 22px; } }

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent; }
  .btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1); }

.content-section {
  padding-top: 150px;
  padding-bottom: 150px; }

.shop-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .shop-section .product {
    margin-bottom: 35px; }
    .shop-section .product .product-image-photo {
      max-width: 100%; }

.page-content {
  background: url("../img/debut_dark.png"); }

#map {
  width: 100%;
  height: 300px; }

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px; }
  #map {
    height: 350px; } }

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0; }

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent; }
  .btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid #42DCA3;
    outline: none;
    background-color: #42DCA3; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

footer {
  color: #777;
  padding: 50px 0;
  border-top: 1px solid #333; }
  footer p {
    font-size: 14px;
    margin: 0; }
  footer a {
    color: #999; }
  footer .cardlogos {
    color: #999;
    font-size: 36px; }
  footer .footer-links {
    list-style: none;
    margin: 0;
    padding: 0; }

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

button {
  cursor: pointer; }

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center; } }

.container.newsletter-subscription {
  padding-bottom: 30px; }
  .container.newsletter-subscription p, .container.newsletter-subscription label, .container.newsletter-subscription small {
    text-shadow: 1px 1px 3px black; }
  .container.newsletter-subscription label, .container.newsletter-subscription small {
    text-align: left;
    display: block; }
  .container.newsletter-subscription .newsletter-frame {
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px; }
  .container.newsletter-subscription .extra-50-off {
    color: #ff5577; }

.form-group .form-control.is-invalid {
  border-color: #dc3545; }

.post-page img {
  max-width: 100%; }
