.product-page {
  /* Thumbs */ }
  .product-page .product-hero {
    margin-bottom: 20px; }
  .product-page .social-share {
    margin: 20px 0; }
    .product-page .social-share a {
      font-size: 1.2em; }
  .product-page .product-image-block img {
    max-width: 100%; }
  .product-page .price-box .price-container {
    font-size: 3rem;
    float: right;
    position: relative;
    background: #666;
    line-height: 40px;
    height: 58px;
    padding: 0 10px;
    border-radius: 0 5px 5px 0; }
    .product-page .price-box .price-container:before {
      content: "";
      height: 0;
      width: 0;
      display: block;
      position: absolute;
      top: 0;
      left: -58px;
      border-top: 29px solid #666;
      border-bottom: 29px solid #666;
      border-right: 29px solid #666;
      border-left: 29px solid transparent; }
    .product-page .price-box .price-container.after {
      content: "";
      height: 3px;
      background: rgba(0, 0, 0, 0.3);
      display: block;
      position: absolute;
      bottom: -3px;
      left: 58px;
      right: 3px; }
    .product-page .price-box .price-container .currency-sign {
      font-size: 1.9rem;
      vertical-align: text-top; }
    .product-page .price-box .price-container .original {
      position: relative;
      font-size: 2rem; }
      .product-page .price-box .price-container .original:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 2px solid;
        border-color: inherit;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
        box-shadow: 1px 1px 2px #000; }
  .product-page .xzoom-gallery, .product-page .xzoom-gallery2, .product-page .xzoom-gallery3, .product-page .xzoom-gallery4, .product-page .xzoom-gallery5 {
    border: 1px solid #cecece;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 30px; }
