.account-popover {
  position: relative;
}

#account {
  z-index: 1031;
  position: relative;
  background: white;
  padding-top: 30px;
  color: black;
  ::-moz-selection {
    background: #131313;
    background: fade-out(black, .8);
    text-shadow: none;
  }
  ::selection {
    background: #131313;
    background: fade-out(black, .8);
    text-shadow: none;
  }
  #account-spinner {
    padding: 100px 0;
  }
  button.close {
    float: right;
  }
  .container {
    padding-bottom: 20px;
    .nav {
      margin: 20px 0;
    }
  }
}