ul.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 30px;
    .img-crop {
      display: block;
      width: 100%;
      height: 150px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .img-crop img {
      margin: -10px 0 0 0;
    }
    a.title {
      margin: 10px 0;
      display: block;
    }
  }

  img {
    max-width: 100%;
  }
}