.blinking {
  -webkit-animation: blinking 0.5s infinite;  /* Safari 4+ */
  -moz-animation: blinking 0.5s infinite;  /* Fx 5+ */
  -o-animation: blinking 0.5s infinite;  /* Opera 12+ */
  animation: blinking 0.5s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinking {
  0%, 30% {
    background-color: rgb(239, 239, 0);
  }
  70%, 100% {
    background-color: black;
  }
}

.cart-popover {
  position: relative;
  .cart-counter {
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    bottom: 22px;
    left: 16px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
  }
}

#quickcart {
  z-index: 1031;
  position: relative;
  background: white;
  padding-top: 30px;
  color: black;
  ::-moz-selection {
    background: #131313;
    background: fade-out(black, .8);
    text-shadow: none;
  }

  ::selection {
    background: #131313;
    background: fade-out(black, .8);
    text-shadow: none;
  }
  button.close {
    float: right;
  }
  img {
    vertical-align: top;
    float: left;
    margin-right: 10px;
  }
  .item-details {
    float: left;
  }
  .availability {
    color: #999;
  }
  #cart {
    padding-bottom: 20px;
    button {
      margin-bottom: 10px;
    }
  }
  .empty-cart {
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding-bottom: 1px;
  }
  .cart-item-link {
    color: black;
  }
}