---
title: Blog
layout: home
---

<section class="page-content post-section content-section text-center product-page">

  <div class="container product-hero">
    <h1>blog</h1>
    <ul class="blog-list row">
      {% for post in site.posts %}
        <li class="col-lg-4 text-left">
          <a href="{{ post.url }}" class="img-crop">
            <img src="{{ post.image }}" alt="{{ post.title }}" class="hero-image">
          </a>
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>
          <div class="description">
            {{ post.description }}
          </div>
          <div class="social-share">
            <span data-bind="text: 'Share:'">&nbsp;</span>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ post.url | cgi_escape }}&p[title]={{ post.title | cgi_escape }}" >
                  <i class="fa fa-facebook fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://pinterest.com/pin/create/link/?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ post.url | cgi_escape }}" >
                  <i class="fa fa-pinterest fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://twitter.com/home?status={{ post.title | cgi_escape }}:+{{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ post.url | cgi_escape }}" >
                  <i class="fa fa-twitter fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/share?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ post.url | cgi_escape }}" >
                  <i class="fa fa-google-plus fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://www.tumblr.com/share/link?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ post.url | cgi_escape }}&name={{ post.title | cgi_escape }}" >
                  <i class="fa fa-tumblr fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>