---
layout: home
title: Dora's Jewellery
description: Contemporary epoxy resin jewellery. With embedded wood and flowers. On leather or sterling silver lace. Made with love in Scotland
keywords: epoxy resin jewelry making UK, new arrival epoxy resin jewelry making, sterling silver jewellery
---

<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Dora's Jewellery</h1>
          <p class="intro-text">In my workshop I make jewellery out of epoxy crystal resin and other materials in different styles, but it is invariably a jewellery for women seeking unique forms of expression, who like to emphasize their individuality and those who value the highest quality.</p>
          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Dora's Jewellery</h2>
        <p>Dora started to make epoxy resin Jewellery as a hobby after She and her husband had their third child. After receiving lots of compliments about her work, She decided to make it available for the broader audience. <a href="/resin.html">More about epoxy resin...</a></p>
      </div>
    </div>
  </div>
</section>

<!-- Shop Section -->
<section id="shop" class="shop-section content-section text-center">
  <div class="container newsletter-subscription">
    <div class="col-lg-8 mx-auto">
      <div class="newsletter-frame">
        <h2>50% Discount</h2>
        <p>Get an <span class="extra-50-off">EXTRA 50% OFF</span> from the first product by subscribing to my newsletter before the 1st of February!</p>
        <form action="https://dorasjewellery.us17.list-manage.com/subscribe/post" method="POST">
          <input type="hidden" name="u" value="b596736cf6cfa7bb43332708a">
          <input type="hidden" name="id" value="ad9a3fb3f9">

          <!-- people should not fill these in and expect good things -->
          <div class="field-shift" aria-label="Please leave the following three fields empty" hidden>
              <label for="b_name">Name: </label>
              <input type="text" name="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

              <label for="b_email">Email: </label>
              <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

              <label for="b_comment">Comment: </label>
              <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
          </div>

          <div class="form-group">
            <label for="MERGE0">Email address</label>
            <input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="Enter email">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="submit_container clear">
              <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Subscribe">
          </div>
          <input type="hidden" name="mc_signupsource" value="extra-50-off">
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      {% for item in site.products %}
        {% if item.tags contains "home" %}
          <div class="col-sm">
            <div class="product">
              <a href="{{ item.url }}" class="product-photo" tabindex="-1">
                <img class="product-image-photo" src="{{ item.image }}" alt="{{ item.title }}">
              </a>
              <strong>
                <a class="product-item-link" href="{{ item.url }}">
                  {{ item.title }}
                </a>
              </strong>
              <div class="price-box">
                <span class="price">£{{ item.price }}</span>
              </div>
              <div class="add-to-cart">
                {% if item.options %}
                  <a href="{{ item.url }}" class="btn btn-primary btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i> More options</a>
                {% else%}
                  <button class="btn btn-primary btn-lg"
                    data-bind="clickWithData:cart.addItem"
                    data-description='{{ item.title }}'
                    data-price='{{ item.price }}'
                    data-sku='{{ item.sku }}'
                    data-image='{{ site.baseurl }}/{{ item.image }}'
                    data-url='{{ item.url }}'
                  ><i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span data-bind="text: find('{{item.sku}}')? 'Add more' : 'Add to Cart'">Add to Cart</span>
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <a href="/shop.html" class="btn btn-default btn-lg">See all jewellery</a>
    </div>
  </div>
</section>