---
layout: home
title: "About Epoxy Resin Jewellery"
description: How to make epoxy resin jewellery with embedded objects or flowers. The professional method.
keywords: epoxy resin jewelry making UK, how its made, epoxy resin jewelry making
---

<section id="content" class="page-content content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Epoxy Resin Jewellery</h2>
    </div>
  </div>
  <div class="container text-left">
  <div class="col-lg-8 mx-auto">

<p>My jewellery is made out of the highest quality epoxy resin. Epoxy resin is a material with similar properties to natural resins - viscous liquid capable of hardening. The epoxy resin jewellery at the end is hard wearing, non chipping and totally transparent without any discolouration, even after longer period of use.</p>

<p>One other resin, which constitutes the 75% of resins used for jewellery, is Unsaturated Polyester Resin (usually called: casting resin). Polyester resin is yellowing by time and tend to scratch more easily. Its drying process produces toxic fumes which by escaping to the environment, contributing to the thinning of the ozone layer and damaging the environment.</p>

<p>All the materials I use for making epoxy resin jewellery is coming from responsible sources and environmentally friendly.</p>

<p>I use epoxy resin to create necklaces, pins, bangles, bracelets, cufflinks, earrings, and rings that feature interesting embedded objects, like broken wood, flowers, moss, heather or glitter for a fun effect. To achieve crystal effect, I carefully sand and then polish faces into the resin. Because of the nature of the making process, no jewellery is the same. For some pieces, I also offer personalisation. Personalised resin jewellery is made by laser engraving wooden surfaces or embedding names or messages into the resin.</p>

<p>Epoxy resin jewellery is extremely hard wearing and only the imagination sets the limit for what can be achieved with it. Unlike glass, it requires no heat to form, Epoxy resin hardens by adding the carefully measured second component or in some cases, using UV light or the sun. Ladies familiar with nail art might already know a type of resin that's hardening under a UV lamp.</p>

<p>My absolute the best favourite resin jewellery is the broken wood and resin pendant. The resin part works like a magnifier glass over an interesting part of exotic hardwood, sometimes creating a landscape effect using colour pigments added to the resin.</p>

<p>Resin necklaces are made by pouring resin to a mould I make exclusively for the pieces of the epoxy resin necklace.</p>

<p>Epoxy resin and wood ring is lightweight and yet making a bold statement about its wearer. I like using wood to provide warm feeling into almost any jewellery I make.</p>

<p>Dandelion earrings in resin are a very popular. Dandelion is a delicate flower which is normally blown away by the slightest air movement, so the making of the earring requires extreme patience.</p>

<p>The colours of my epoxy resin bracelets are coming from mineral refined pigments or metal oxides. The colouring process I developed is giving the epoxy resin vibrant colours and it is completely UV stable, so your jewellery will look the same for years as when you bought it. I'm confident if you take good care of it, you can give it to your grandchildren.</p>

<p>Dora is handcrafting all epoxy resin jewellery with love in Scotland.</p>

    </div>
  </div>
</section>