---
layout: home
title: Shipping and international shipping
description: Shipping. Shop contemporary epoxy resin jewellery. Free shipping worldwide,
keywords: epoxy resin jewelry making, worldwide shipping, new arrival epoxy resin jewelry shiping, 925 sterling silver jewellery
---

<section id="content" class="page-content content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Shipping</h2>
    </div>
  </div>
  <div class="container text-left">
    <div class="col-lg-8 mx-auto">

<p>I ship Worldwide from The UK. Please select the destination country in the cart matching your PayPal billing address for an accurate shipping estimate. Shipping costs to the following countries as follows:</p>

<ul>
    <li>United Kingdom: <b>&pound;1.50</b> (3 days)</li>
    <li>United States of America: <b>&pound;4.40</b> (5-7 days)</li>
    <li>Australia: <b>&pound;4.75</b> (5-7 days)</li>
    <li>Austria: <b>&pound;5.75</b> (3-5 days)</li>
    <li>Germany: <b>&pound;5.75</b> (3-5 days)</li>
    <li>Hungary: <b>&pound;5.75</b> (3-5 days)</li>
</ul>

<p>Times are aims and based on Royal Mail's estimation. During busy times, delivery time can be longer.</p>

<p>If you can't find your country in the list, please contact me and I will find out the shipping cost for your address.</p>

    </div>
  </div>
</section>