---
layout: home
title: Shop epoxy resin jewellery
description: Shop epoxy resin jewellery. With embedded wood or flowers. On leather or sterling silver lace.
keywords: epoxy resin jewelry making UK, new arrival epoxy resin jewelry making
---

<!-- Shop Section -->
<section id="shop" class="shop-section content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Shop Jewellery</h2>
    </div>
  </div>
  <div class="container">
      {% for item in site.products %}
        {% cycle addrow: '<div class="row">', '', '' %}
        <div class="col-sm-4">
          <div class="product">
            <a href="{{ item.url }}" class="product-photo" tabindex="-1">
              <img class="product-image-photo" src="{{item.image}}" alt="{{ item.title }}">
            </a>
            <strong>
              <a class="product-item-link" href="{{ item.url }}">
                {{ item.title }}
              </a>
            </strong>
            <div class="price-box">
              <span class="price">£{{ item.price }}</span>
            </div>
            <div class="add-to-cart">
              {% if item.options %}
                <a href="{{ item.url }}" class="btn btn-primary btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i> More options</a>
              {% else%}
                <button class="btn btn-primary btn-lg"
                  data-bind="clickWithData:cart.addItem"
                  data-description='{{ item.title }}'
                  data-price='{{ item.price }}'
                  data-sku='{{ item.sku }}'
                  data-image='{{ site.baseurl }}/{{ item.image }}'
                  data-url='{{ item.url }}'
                ><i class="fa fa-cart-plus" aria-hidden="true"></i>
                  <span data-bind="text: find('{{item.sku}}')? 'Add more' : 'Add to Cart'">Add to Cart</span>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
        {% cycle endrow: '', '', '</div>' %}
      {% endfor %}
      {% cycle endrow: '', '</div>', '</div>' %}
    </div>
</section>
