---
layout: home
title: Terms and conditions
description: Term and conditions. Shop contemporary epoxy resin jewellery. Made with love in Scotland
keywords: epoxy resin jewelry making Scotland, new arrival epoxy resin jewelry shipping, 925 sterling silver jewellery
---

<section id="content" class="page-content content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Terms And Conditions</h2>
    </div>
  </div>
  <div class="container text-left">
  <div class="col-lg-8 mx-auto">

<p>As all my jewelry is unique one of a kind items due to the making process, they are slightly different, note that the item you receive may differ ever so slightly from my stock image. I work as close to stock image as possible to replicate the very same loveliness.</p>

<h3>Returns &amp; exchanges</h3>
<p>I gladly accept returns, exchanges and cancellations</p>
<p>Contact me within: 7 days of delivery</p>
<p>Ship items back within: 14 days of delivery</p>
<p>Request a cancellation within: 24 hours of purchase</p>
<p>The following items can't be returned or exchanged</p>
<p>Because of the nature of these items, unless they arrive damaged or defective, I can't accept returns for:</p>
<ul>
    <li>Custom or personalised orders</li>
    <li>Perishable products (like food or flowers)</li>
    <li>Digital downloads</li>
    <li>Intimate items (for health/hygiene reasons)</li>
</ul>

<p>All prices include VAT</p>

<h3>Conditions of return</h3>
<p>Buyers are responsible for return shipping costs. If the item is not returned in its original condition, the buyer is responsible for any loss in value.</p>
<p>Questions about your order?</p>
<p>Please contact me if you have any problems with your order.</p>

    </div>
  </div>
</section>