<div class="container">
  <div class="col-lg-8 mx-auto">
    <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#account">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="h3" data-bind="text: 'My Account'"></div>

    <div id="account-spinner" class="spinner text-center" data-bind="visible: register.spinner">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>

    <div id="account-screen" data-bind="visible: login.user() !== null">
      This is your account:
      <a href="#logout" data-bind="text: 'Log Out', click: login.clickLogout"></a>
    </div>

    <div id="login-forms" data-bind="visible: register.spinner() == false && login.user() === null">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#login" role="tab" data-bind="text: 'Log In'"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#register" role="tab" data-bind="text: 'Register'"></a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="login">
          <form novalidate>
            <div class="parse-error alert alert-danger" role="alert" data-bind="text: login.parseError, visible: login.parseError">
            </div>
            <div class="parse-message alert alert-success" role="alert" data-bind="text: login.parseMessage, visible: login.parseMessage">
            </div>
            <div class="form-group">
              <label for="login-email" data-bind="text: 'Email address'"></label>
              <input type="email" class="form-control" id="login-email" placeholder="Email" data-bind="value: login.email">
            </div>
            <div class="form-group">
              <label for="login-password" data-bind="text: 'Password'"></label>
              <input type="password" class="form-control" id="login-password" placeholder="Password" data-bind="value: login.password">
            </div>
            <button type="submit" class="btn btn-primary" data-bind="text: 'Login', click: login.clickLogin"></button>
            <button type="submit" class="btn btn-secondary" data-bind="text: 'Reset Password', click: login.clickPassword"></button>
          </form>
        </div>

        <div class="tab-pane" id="register">
          <form data-bind="css: { 'was-validated': register.errors.isValid() == false }" novalidate>
            <div class="parse-error alert alert-danger" role="alert" data-bind="text: register.parseError, visible: register.parseError">
            </div>
            <div class="form-group" data-bind="css: { 'is-invalid': register.email.isValid() == false }">
              <label for="register-email" data-bind="text: 'Email address'"></label>
              <input type="email" class="form-control" id="register-email" placeholder="Email" data-bind="
                value: register.email,
                css: { 'is-invalid': register.email.isValid() == false }
              ">
              <div class="invalid-feedback" data-bind="validationMessage: register.email"></div>
              <small class="form-text text-muted" data-bind="text: 'We\'ll never share your email with anyone else.'"></small>
            </div>
            <div class="form-group" data-bind="css: { 'is-invalid': register.password.isValid() == false }">
              <label for="login-password" data-bind="text: 'Password'"></label>
              <input type="password" class="form-control" id="register-password" placeholder="Password" data-bind="
                value: register.password,
                css: { 'is-invalid': register.password.isValid() == false }
              ">
              <div class="invalid-feedback" data-bind="validationMessage: register.password"></div>
            </div>
            <div class="form-group" data-bind="css: { 'is-invalid': register.passwordVerify.isValid() == false }">
              <label for="register-verify" data-bind="text: 'Verify'"></label>
              <input type="password" class="form-control" id="register-verify" placeholder="Password (again)" data-bind="
                value: register.passwordVerify,
                css: { 'is-invalid': register.passwordVerify.isValid() == false }
              ">
              <div class="invalid-feedback" data-bind="validationMessage: register.passwordVerify"></div>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" data-bind="checked: register.newsletter">
                <span data-bind="text: 'Subscribe to my newletter and receive information about discounts'"></span>
              </label>
            </div>
            <button type="submit" class="btn btn-primary" data-bind="text: 'Register', click: register.clickRegister"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>