<div class="container">
  <div class="col-lg-8 mx-auto">
    <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#quickcart">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="h3" data-bind="text: 'Shopping Cart'"></div>
    <p data-bind="text: 'Check out securely with PayPal.'"></p>

    <div data-bind='visible : cart.hasItems' id='cart'>
      <table class='table smaller'>
        <thead>
          <tr>
            <th data-bind="text: 'Item'"></th>
            <th>Qty.</th>
            <th style='text-align:right;width:20px' data-bind="text: 'Total'"></th>
          </tr>
        </thead>
        <tbody data-bind="foreach: cart.items">

          <tr>
            <td>
              <img data-bind="attr:{src: image}" src="/img/1px.gif" alt="" width=64 height=64>
              <div class="item-details">
                <a data-bind='text:description, attr:{href: url}' class="cart-item-link"></a>
                <br/>
                <span class="availability"><span data-bind="text: 'SKU:'"></span>
                  <span data-bind="text: sku + options.sku"></span>
                  (<span data-bind="text: $root.stock.skuQty($data.sku + options.sku)"></span>
                  <span data-bind="text:'available'"></span>)
                </span>
                <div class="product-options" data-bind="foreach: options.selection">
                  <span data-bind="text: Object.keys($data)[0]"></span>:
                  <b data-bind="text: $data[Object.keys($data)[0]]"></b><br>
                </div>
              </div>
            </td>
            <td>
              <input class='qty' data-bind='value: quantity' style='width:24px' type='text'>
              <a data-bind="click: function() { $root.cart.removeClicked($data); }" href='#'>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <input data-bind='value:sku' name='items[][sku]' type='hidden'>
                <input data-bind='value:quantity' name='items[][qty]' type='hidden'>
              </a>
            </td>
            <td data-bind='currency: lineTotal' style='text-align:right'></td>

          </tr>

        </tbody>
        <tfoot>
          <tr>
            <td colspan='2'>
              <span data-bind="text: cart.shippingMethod"></span>
              <div class="form-group">
                <label for="shipping" data-bind="text: 'Ship to'"></label>
                <select class="form-control" name="shipping" id="shipping" data-bind="foreach: cart.shippingRates, value: cart.country">
                  <option data-bind="text: country, value: code"></option>
                </select>
                <small class="form-text text-muted" data-bind="text: 'You can enter your full address during checkout.'"></small>
              </div>
            </td>
            <td data-bind='currency: cart.shippingPrice' style='text-align:right'>
            </td>
          </tr>
          <tr>
            <td><b data-bind="text: 'Order Total'"></b></td>
            <td class='right' colspan='2' style='text-align:right;font-size:19px'>
              <strong data-bind='currency: cart.total() + cart.shippingPrice()'></strong>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <div class="col-lg-6 mx-auto text-center text-md-left">
          <button class='btn btn-default' type='submit' data-bind="text: 'Continue shopping'" data-toggle="collapse" data-target="#quickcart">
          </button>
        </div>
        <div class="col-lg-6 mx-auto text-center text-md-right">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" >
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="business" value="{{ site.paypal.account }}">

            <!-- ko foreach: cart.items -->
              <input type="hidden" name="item_name_" data-bind="attr:{name: 'item_name_'+($index()+1)}, value: description">
              <input type="hidden" name="item_number_" data-bind="attr:{name: 'item_number_'+($index()+1)}, value: sku + options.sku">
              <input type="hidden" name="amount_" data-bind="attr:{name: 'amount_'+($index()+1)}, value: price">
              <input type="hidden" name="quantity_" data-bind="attr:{name: 'quantity_'+($index()+1)}, value: quantity">
              <!-- ko foreach: options.selection -->
                <input type="hidden" name="on0_" data-bind="
                  attr: {name: 'on'+$index()+'_'+($parentContext.$index()+1)},
                  value: Object.keys($data)[0]
                ">
                <input type="hidden" name="os0_" data-bind="
                  attr: {name: 'os'+$index()+'_'+($parentContext.$index()+1)},
                  value: $data[ Object.keys($data) ]
                ">
              <!-- /ko -->
            <!-- /ko -->

            <input type="hidden" name="shipping_1" data-bind="value: cart.shippingPrice">
            <input type="hidden" name="currency_code" value="GBP">
            <input type='hidden' name='cancel_return' value='{{ site.url }}/checkout/cancel.html'>
            <input type='hidden' name='return' value='{{ site.url }}/checkout/success.html'>
            <button class='btn btn-primary' id='checkout' type='submit' value="PayPal">
                      <i class="fa fa-paypal" aria-hidden="true"></i> <span data-bind="text: 'Checkout with PayPal'"></span>
            </button>
            <img alt="" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
    </div>
    <div data-bind='visible : !cart.hasItems()' class='empty-cart'>
      <p>
        <span data-bind="text: 'There are no items in the cart.'"></span>
        <a href="/shop.html" class='btn btn-primary'>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span data-bind="text: 'Shop Now'"></span>
        </a>
      </p>
    </div>
  </div>
</div>