<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact Dora's Jewellery</h2>
        <p>Feel free to leave a comment on Facebook or on Etsy</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Doras-Jewellery-392490977872671/" class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/dorasjewellery/" class="btn btn-default btn-lg">
              <i class="fa fa-instagram fa-fw"></i>
              <span class="network-name">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/dora_jewellery" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.etsy.com/uk/shop/DorasJewelleryShop" class="btn btn-default btn-lg">
              <i class="fa fa-etsy fa-fw"></i>
              <span class="network-name">Etsy</span>
            </a>
          </li>
        </ul>
        email me at: {% email sales@dorasjewellery.co.uk %}
      </div>
    </div>
  </div>
</section>
