<!-- Footer -->
<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p>Copyright &copy; Dora's Jewellery 2019</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-left">
        Dora Czettner-Vicze (Sole Trader)<br>
        34 Priory Road, Lesmahagow, ML11 0AA, United Kingdom
        <ul class="footer-links">
        <li><a href="/terms.html">Terms and Conditions</a></li>
        <li><a href="/shipping.html">Shipping</a></li>
        <li><a href="/privacy.html">Privacy + cookies</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        </ul>
      </div>
      <div class="col-lg-6 text-right">
        <p>Accepted payment methods:</p>
        <p class="cardlogos">
          <i class="fa fa-cc-visa" aria-hidden="true"></i>
          <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
          <i class="fa fa-cc-paypal" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
</footer>

<script data-main="/js/main" src="/js/require.js"></script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "transparent",
      "text": "#f1d600",
      "border": "#f1d600"
    }
  },
  "content": {
    "href": "/privacy.html"
  }
})});
</script>