
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% if page.url == '/' %}#page-top{% else %}/{% endif %}">Dora's Jewellery</a>

    <div class="navbarbuttons">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <a class="cart-popover btn d-block d-lg-none" data-placement="bottom" title="Shopping cart" data-toggle="collapse" href="#quickcart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span data-bind='visible: cart.hasItems, text: cart.itemCount()' class="cart-counter"></span>
      </a>
      <a class="account-popover btn d-block d-lg-none" data-placement="bottom" title="Account" data-toggle="collapse" href="#account">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% if page.url == '/' %}#about{% else %}/#about{% endif %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% if page.url == '/' %}#shop{% else %}/shop.html{% endif %}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% if page.url == '/' %}#contact{% else %}/#contact{% endif %}">Contact</a>
        </li>
      </ul>
    </div>
    <a class="cart-popover btn d-none d-lg-block" data-placement="bottom" title="Shopping cart" data-toggle="collapse" href="#quickcart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span data-bind='visible: cart.hasItems, text: cart.itemCount()' class="cart-counter" style="display:none;"></span>
    </a>

    <a class="account-popover btn d-none d-lg-block" data-placement="bottom" title="Account" data-toggle="collapse" href="#account">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
  </div>
</nav>

<div class="collapse" id="quickcart">
  {% include cart.html %}
</div>

<div class="collapse" id="account">
  {% include account.html %}
</div>