---
layout: home
---

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Keep shopping</h1>
        <p>I'm sorry your payment didn't succeed. Please try again any time that suits you.</p>
      </div>
    </div>
  </div>
</section>