---
layout: home
---

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Thank you for your order</h1>
        <p>Your item will be with you soon. If I have a question about delivery, I'll contact you shortly through your PayPal email address.</p>
      </div>
    </div>
  </div>
</section>