<!DOCTYPE html>
<!--
This is a showcase for how easy it is to create a website without bloated frameworks and insecure CMS
This is a static website, but yet, you can check out, register and see products and.
It's blazing fast, easy to manage and incredibly safe. It's using PayPal form for checkout.
-->
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google.gtag }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google.gtag }}');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name='distribution' content='global'/>
    <meta name='language' content='english'/>
    <meta name='rating' content='general'/>
    <meta name='revisit-after' content='15 days'/>

    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="10; url=/">
    {% endif %}

    <meta name='robots' content='NOINDEX, NOFOLLOW'/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - Resin Jewellery Handcrafted in Scotland</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ site.baseurl }}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/grayscale.min.css?{{site.time | date: '%s%N'}}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#33aa43">
    <meta name="theme-color" content="#33aa43">
    {% if page.layout == 'product' %}
      <link href="{{ site.baseurl }}/css/product.min.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
      <!-- Product Structured Data-->
      <script type="application/ld+json">
        {
          "@context": "http:\/\/schema.org\/",
          "@type": "Product",
          "name": "{{ page.title | xml_escape }}",
          "description": "{{ page.description | xml_escape }}",
          "sku": "{{ page.sku | xml_escape }}",
          "url": "{{ site.baseurl }}/{{ page.url | xml_escape }}",
          "image": "{{ site.baseurl }}/{{ page.image | xml_escape }}",
          "offers": {
            "@type": "Offer",
            "priceCurrency": "GBP",
            "price": {{ page.price | xml_escape }},
            "itemOffered": 100,
            "availability": "http:\/\/schema.org\/InStock"
          }
        }
      </script>
      <meta property="product:price:amount" content="{{ page.price | xml_escape }}"/>
      <meta property="product:price:currency" content="GBP"/>
      <meta property="og:type" content="og:product" />
    {% endif %}
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
    <meta property="og:image" content="https://www.dorasjewellery.co.uk/{{ page.image | xml_escape }}" />
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
    <meta property="og:url" content="https://www.dorasjewellery.co.uk{{ page.url | xml_escape }}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dora_jewellery">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="https://www.dorasjewellery.co.uk/{{ page.image }}">


    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1603689439714586');
      fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->

    <!-- Mailchimp -->
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b596736cf6cfa7bb43332708a/6727af4f07abafd155f239165.js");</script>
  </head>

  <body id="page-top">
    {% include navigation.html %}
    {{ content }}
    {% include contact.html %}
    {% include footer.html %}
  </body>
</html>