---
layout: home
---

<section class="page-content post-section content-section post-page">

  <div class="container product-hero">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ page.title }}</h1>

        <img src="{{ page.image }}" alt="">

        {{ content }}

        <p>Inspired? <a href="/shop.html">Shop Jewellery</a> now!</p>
      </div>
    </div>
  </div>

</section>