---
layout: home
---

<section class="page-content post-section content-section post-page">

  <div class="container product-hero">
    <div class="row">
      <div class="col-lg-9">
        <h1>{{ page.title }}</h1>

        <img src="{{ site.baseurl }}/{{ page.image }}" alt="">

        {{ content }}

        <div class="social-share">
          Share:
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}&p[title]={{ page.title | cgi_escape }}" >
                <i class="fa fa-facebook fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://pinterest.com/pin/create/link/?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}" >
                <i class="fa fa-pinterest fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://twitter.com/home?status={{ page.title | cgi_escape }}:+{{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}" >
                <i class="fa fa-twitter fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://plus.google.com/share?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}" >
                <i class="fa fa-google-plus fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.tumblr.com/share/link?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}&name={{ page.title | cgi_escape }}" >
                <i class="fa fa-tumblr fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>

        <p>Inspired? <a href="/shop.html">Shop Jewellery</a> now!</p>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'https://www.dorasjewellery.co.uk/{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://doras-jewellery.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      </div>
      <div class="col-lg-3">
        <h4>Latest</h4>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</section>