---
layout: home
---

<!-- Product Section -->
<section id="shop" class="shop-section content-section text-center product-page">

  <div class="container product-hero" itemscope itemtype="http://schema.org/Product">
    <div class="row">
      <div class="col-lg-6 mx-auto product-image-block">
        <img class="xzoom" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}" xoriginal="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
        {% if page.gallery %}
          <div class="xzoom-thumbs row">
            <a href="{{ site.baseurl }}/{{ page.image }}" class="col-3">
              <img itemprop="image" class="xzoom-gallery" src="{{ site.baseurl }}/{{ page.image }}"  xpreview="{{ site.baseurl }}/{{ page.image }}">
            </a>
            {% for image in page.gallery %}
              <a href="{{ site.baseurl }}/{{ image }}" class="col-3">
                <img class="xzoom-gallery" src="{{ site.baseurl }}/{{ image }}">
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="col-lg-6 mx-auto text-md-left text-xs-center">
        <h1 itemprop="name">{{ page.title }}</h1>
        <p itemprop="description">{{ page.description }}</p>
        <p>Shipping worldwide from The UK.</p>
        <div class="price-box price-final_price clearfix" data-role="priceBox">
          <span class="price-container price-final_price tax weee" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <span id="product-price" class="price-wrapper ">
              {% if page.original_price %}
                <span class="price original"><span class="currency-sign">£</span>{{page.original_price}}</span>
              {% endif %}
              <span class="price"><span class="currency-sign">£</span>{{page.price}}</span>
            </span>
            <meta itemprop="price" content="{{ page.price }}">
            <meta itemprop="priceCurrency" content="GBP">
          </span>
        </div>

        <script id="product-data" type="application/json">
          {"sku": "{{ page.sku }}" }
        </script>

        {% if page.options %}
          <div class="options">
            <script id="product-options-json" type="application/json">
              {{ page.options | jsonify }}
            </script>
            <form action="" id="product-options-form">
              <!-- ko foreach: product.options -->
                <div class="form-group">
                  <label for="name" data-bind="text: label"></label>
                  <!-- ko if: type=="select" -->
                    <select data-bind="options: select, attr: { id: 'input_' + name }, value: value" class="form-control">
                    </select>
                  <!-- /ko -->
                  <!-- ko if: type=="text" -->
                    <input type="text" data-bind="attr: { id: 'input_' + name }, value: value" class="form-control" />
                  <!-- /ko -->
                </div>
              <!-- /ko -->
            </form>
          </div>
        {% endif %}

        <div class="add-to-cart">
          <div class="in-cart" data-bind="visible: cart.find('{{page.sku}}')">
            <span data-bind="text: cart.skuCount('{{page.sku}}' + product.selection().sku)"></span> in cart
          </div>
          <div class="availability">
            <span data-bind="text: stock.skuQty('{{page.sku}}' + product.selection().sku)"></span> available
          </div>
          <form action="#">
            <input type="hidden" name="productoptions">
            <button class="btn btn-primary btn-lg"
              data-bind="attr: { 'data-options': JSON.stringify(product.selection()) }, clickWithData:cart.addItem"
              data-description='{{ page.title }}'
              data-price='{{ page.price }}'
              data-sku='{{ page.sku }}'
              data-image='{{ site.baseurl }}/{{ page.image }}'
              data-url='{{ page.url }}'
            ><i class="fa fa-cart-plus" aria-hidden="true"></i>
              <span data-bind="text: cart.find('{{page.sku}}')? 'Add more' : 'Add to Cart'">Add to Cart</span>
            </button>
          </form>
        </div>

        <div class="social-share">
          <span data-bind="text: 'Share:'"></span>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}&p[title]={{ page.title | cgi_escape }}" >
                <i class="fa fa-facebook fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://pinterest.com/pin/create/link/?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}" >
                <i class="fa fa-pinterest fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://twitter.com/home?status={{ page.title | cgi_escape }}:+{{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}" >
                <i class="fa fa-twitter fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://plus.google.com/share?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}" >
                <i class="fa fa-google-plus fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.tumblr.com/share/link?url={{ 'https://www.dorasjewellery.co.uk' | cgi_escape}}{{ page.url | cgi_escape }}&name={{ page.title | cgi_escape }}" >
                <i class="fa fa-tumblr fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-left">
        {{ content }}
      </div>
    </div>
  </div>
</section>

<section id="discus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'https://www.dorasjewellery.co.uk/{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://doras-jewellery.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      </div>
    </div>
  </div>
</section>
